<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="script.zipkar_coupon"/>
      <class name="script.zipkar_credit"/>
      <class name="script.zipkart_remov"/>
      <class name="script.zipkar_addr"/>
      <class name="script.zipkar_editacc"/>
      <class name="script.zipkar_paytm"/>
      <class name="script.zipkar_checkdel"/>
      <class name="script.zipkar_cart"/>
      <class name="script.zipkar_changepwd"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
